.form {
    width: 50%;
    background-color: #0bcf0e;
    color: white;
    border-radius: 0.6rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}
label{
 font-size: 20px;
}

.formField {
    margin: 1rem 0;
    display: flex;
}

.formField label {
    flex-basis: 20%;
}

.formField input {
    flex-basis: 80%;
    border: none;
    border-radius: 0.6rem;
    padding: 0.2rem;
}

.formField textarea {
    flex-basis: 80%;
    resize: none;
    border: none;
    border-radius: 0.6rem;
    padding: 0.2rem;
    height: 5rem;
}

.form button{

    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 20%;
    height: 2.5rem;
}

.form button:hover{
    background-color: rgb(255, 166, 0);
    color: white;
}