.todo {
    background-color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.6rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.todo:hover {
    background-color: rgb(12, 172, 200);
}

.btn {
    border: none;
    background-color: transparent;
    color: red;
    cursor: pointer;
}